<robot name="guitar_neck">
  
  <link name="world"/>

  <material name="brown"> <color rgba="0.67 0.49 0.34 1"/> </material>
  <material name="silver"> <color rgba="0.89 0.89 0.89 1"/> </material>

  <joint name="neck_to_world" type="fixed">
    <parent link="world"/>
    <child link="neck"/>
    <origin xyz="0.00 0.00 0.00" rpy="0 0 0"/>
  </joint>

  <link name="neck">
    <visual>
      <origin xyz="0.00 0.00 0.00" rpy="0 0 0"/>
      <geometry> <box size="0.50 1.2 0.05"/> </geometry>
      <material name="brown"/>
    </visual>
    <collision>
      <origin          xyz="0.00 0.00 0.00" rpy="0 0 0"/>
      <geometry> <box size="0.50 1.2 0.05"/> </geometry>
    </collision>
  </link>

  <joint name="string1_to_neck" type="fixed">
    <parent link="neck"/>
    <child link="string1"/>
    <origin xyz="0.00 0.00 0.05" rpy="0 0 0"/>
  </joint>

  <link name="string1">
    <visual>
        <origin xyz="0.00 0.00 0.05" rpy="1 0 0"/>
        <geometry> <cylinder radius="0.01" length="1.2"/> </geometry>
        <material name="silver"/>
    </visual>
    <collision>
        <origin xyz="0.00 0.00 0.05" rpy="1 0 0"/>
        <geometry> <cylinder radius="0.01" length="1.2"/> </geometry>
    </collision>
  </link>

</robot>