<robot name="guitar_neck">
  <!-- Base Link (Guitar Neck) -->
  <link name="world">

  <link name="neck">
    <visual>
      <geometry>
        <box size="1.0 0.05 0.02"/> 
      <material name="brown">
        <color rgba="0.7 0.4 0.2 1.0"/>
      </material>
      <origin xyz="0 0 0.01"/>
    </visual>
  </link>

  <joint name="neck_to_world" type="fixed">
    <parent link="world"/>
  </joint>
</robot>